# Flask configuration
FLASK_ENV=development
SECRET_KEY=Serena

# Database configuration
DB_HOST=db.nahlqtzrdgoytmemxhao.supabase.co
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=xzAshaUvY92yyVmS
DB_PORT=5432
DATABASE_URL=postgresql://postgres:[xzAshaUvY92yyVmS]@db.nahlqtzrdgoytmemxhao.supabase.co:5432/postgres

# Optional: Full database URL (if using DATABASE_URL instead of individual credentials)
# DATABASE_URL=postgresql://user:password@host:port/database